.calculator {
    width: 300px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #089abe;
}

input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
}

button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
}
.number {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    background-color: rgb(3, 52, 68);
    border: none;
    border-radius: 5px;
    color: ghostwhite;
}
.operator {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
}
.clear {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    background-color: orange;
    border: none;
    border-radius: 5px;
}
.calculate {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
}
